/* GLOBALS */

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: #000;
    background-image: url('images/stumbling_zombie_big.jpg');
    background-repeat: no-repeat;
    background-position: 85% 0;
    color: #999;
    font-size: 1.8rem;
    line-height: 1.5;
    padding: 2rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 700px) {
    body {
        background-image: none;
    }
}

a img,
img a {
    border: 0;
}

h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 1rem;
}

button {
    background: #ff0000;
    color: #FFF;
    font-weight: bold;
    padding: 1rem;
    border-radius: .5rem;
    border: 0;
    font-size: 2rem;
    cursor: pointer;
}

main {
    width: 120rem;
    max-width: 100%;
    margin: 0 auto;
}

section {
    display: flex;
}

@media screen and (max-width: 700px) {
    section {
        flex-wrap: wrap;
    }
}

article {
    flex: 1;
    padding: 2rem;
    box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    article {
        flex: 1 0 100%;
    }
}

.text-red {
    color: #ff0000;
}

.text-center {
    text-align: center;
}

article.col1-2 {
    flex: 0 0 50%;
}

article.col2-3 {
    flex: 0 0 66%;
}

article.col1-3 {
    flex: 0 0 33%;
}

@media screen and (max-width: 700px) {

    article.col1-2,
    article.col2-3,
    article.col1-3 {
        flex: 1 0 100%;
    }
}

.mtop20 {
    margin-top: 2rem;
}

.align-center {
    align-self: center;
}

@media screen and (max-width: 700px) {
    .hide-mobile {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .hide-desktop {
        display: none;
    }
}

/* HEADER */

#countdown {
    font-size: 3rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    border-radius: .5rem;
    padding: 1rem 2rem;
    color: #FFF;
    margin: 2rem auto;
}

@media screen and (max-width: 700px) {
    #countdown {
        font-size: 2rem;
    }
}

#countdown p {
    margin: 0;
}

/* SLIDER */

.slider div {
    text-align: center;
}

@media screen and (max-width: 700px) {
    .slider div {
        width: 100% !important;
    }
}

/* TICKET PRICES */
.price {
    width: 100%;
    display: flex;
}

.price p {
    margin-bottom: 0;
}

.price .ellipsis {
    border-bottom: dotted 2px #999;
    flex: 1;
    margin: .75rem 1rem;
}

/* CALENDAR */
.calendar {
    width: 100%;
    text-align: center;
    border: 1px solid #999;
    margin-bottom: 2rem;
}

.calendar td {
    border: 1px solid #999;
}

.calendar .dayopen {
    background: #ff0000;
    color: #fff;
}

/* RULES */
ul.rules {
    padding: 0 2rem;
}

ul.rules li {
    margin-bottom: 1rem;
}

/* 10-YEAR GALLERY MODAL */
#gallery-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    z-index: -5;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}

#gallery-modal.visible {
    opacity: 1;
    z-index: 99999;
}

#juicebox-container {
    width: 100%;
    height: 100%;
}

#close-gallery {
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 999999999;
    cursor: pointer;
}

#mdiv {
    width: 25px;
    height: 25px;
    background-color: red;
    border: 1px solid black;
}

.mdiv {
    height: 25px;
    width: 2px;
    margin-left: 12px;
    background-color: black;
    transform: rotate(45deg);
    Z-index: 1;
}

.md {
    height: 25px;
    width: 2px;
    background-color: black;
    transform: rotate(90deg);
    Z-index: 2;
}