/* GLOBALS */

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: #000;
    background-image: url('images/stumbling_zombie_big.jpg');
    background-repeat: no-repeat;
    background-position: 85% 0;
    color: #999;
    font-size: 1.8rem;
    line-height: 1.5;
    padding: 2rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 1rem;
}

main {
    width: 120rem;
    margin: 0 auto;
}

section {
    display: flex;
}

article {
    flex: 1;
    padding: 2rem;
    box-sizing: border-box;
}

.text-red {
    color: #ff0000;
}

.text-center {
    text-align: center;
}

article.col1-2 {
    flex: 0 0 50%;
}

article.col2-3 {
    flex: 0 0 66%;
}

article.col1-3 {
    flex: 0 0 33%;
}

/* HEADER */

#countdown {
    font-size: 20px;
    font-weight: bold;
    color: #F00;
}